<!DOCTYPE html>
<html>
<head>
	<title>Oops..</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/func.js"></script>
</head>
<body>
	<h1>404</h1>
	<p>It seems there's been a mistake</p>
</body>
</html>
