<!DOCTYPE html>
<html>
<head>
	<title>hey ninjas</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/func.js"></script>
</head>
<body>
	<p>hey ninjas</p>
</body>
</html>
