<!DOCTYPE html>
<html>
<head>
	<title>hey ninjas</title>
	<link id="css" rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/func.js"></script>
</head>
<body>
	
	<div class = "special">
		<img class = "pic1" src = "/assets/red_rose.jpg">
		<p>hey ninjas</p>
	</div>

	<div class="clear"></div>

	<div class = "notspecial">
		<img class = "pic2" src = "/assets/pink_rose.jpg"/>
		<p>I'm not a ninja</p>
	</div>

	<div class = "special">
		<img class = "pic1" src = "/assets/red_rose.jpg">
		<p>hey ninjas</p>
	</div>

	<div class = "notspecial">
		<img class = "pic2" src = "/assets/pink_rose.jpg"/>
		<p>I'm not a ninja</p>
	</div>

	<button type="button" id="switch">Click Me! </button>
</body>
</html>
