p {
	font-family: verdana;
	padding: 10px;
	font-size: 20px
}

div {
	height: 200px;
	padding: 10px;
	overflow:hidden;
	box-sizing: border-box;
}

img {
	max-height:100%;
	max-width: 35%;
}

div.special {
	background-color:dodgerblue;
}

div.special p {
	float: left;
}

div.notspecial {
	background-color:darkorange;
}

div.notspecial p {
	float: left;
}

img.pic1 {
	float: left;
}

img.pic2 {
	float: right;
}

div.clear {
	height: 0px;
	clear: both;
	padding: 0px;
}
