p {
	font-family: verdana;
	padding: 10px;
	font-size: 20px;
	float: left;
}

div {
	height: 200px;
	padding: 10px;
	overflow:hidden;
	box-sizing: border-box;
}

img {
	max-height:100%;
	max-width: 35%;
}

div.special {
	background-color:dodgerblue;
}

div.notspecial {
	background-color:darkorange;
}

img.picL {
	float: left;
}

img.picR {
	float: right;
}
